@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display:700|Inconsolata&display=swap');

/* Typography */

:root {
  font-size: 16px;
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 1.5;
}

body {
  margin: 2rem 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", "Times New Roman", serif;
}

/* Links */

a:link, a:visited {
  color: #7ca1ff;
  text-decoration: none;
}

a:hover, a:active {
  color: #4d639c;
  text-decoration: none;
}

/* Selection */

::selection {
  color: black;
  background: #ffd2c4;
}

::-moz-selection {
  color: black;
  background:  #ffd2c4;
}

/* Purpose elements */

.alert {
  padding: 1rem;
  border-width: 0 0 0 0.15rem;
  border-color: black;
  border-style: solid;
  background-color: #fff6e6;
}

code {
  font-family: "Inconsolata", monospace;
  padding: 3px;
  background-color: #fff6e6;
}

/* Forms and buttons */

form {
  padding: 1rem 0;
}

label {
  display: block;
  margin-bottom: 1rem;
}

input {
  border-radius: 3px;
  border-color: black;
  border-width: 1px;
  height: 2rem;
  padding: 0;
  outline: 0;
}

input[type="text"] {
  padding-left: 1rem;
  width: 40rem;
}


button, input[type="submit"] {
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  height: 2rem;
  padding: 0 1rem;
  background-color: #FFF6E6;
  outline: 0;
}

button:active, input[type="submit"]:active {
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  height: 2rem;
  padding: 0 1rem;
  background-color: #ffd2c4;
}

/* Lists */

ul > li {
  list-style-type: disc;
}

dt {
  font-weight: bold;
}