/* Kira colour pallete - https://coolors.co/12263a-06bcc1-c5d8d1-8a4f7d-6a245e */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');

:root {
  --color-primary: #12263A;
  --color-error: #06BCC1;
  --font-size: 1.7rem;
  --font-family-sans: "Golos Text", sans-serif;
}

a {
  text-decoration: underline;
}

.smooth-corner {
  border-radius: 0.5rem;
}

.has-padding {
  padding: 1rem;
}

nav.nav {
  margin-top: 1rem;
}
